.pageWrapper {
    min-height: calc(100vh - 220px);
}

.answerNumber,
.answersTitle,
.addAnswerTitle {
    margin-top: 20px;
    margin-left: 30px;
}

.answerTextArea {
    display: flex;
    flex-direction: column;
}

.answerTextInput {
    width: 50%;
    min-height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
    align-self: center;
}

.addAnswerTitle {
    width: 50%;
    align-self: center;
}

.answerButton {
    color: black;
    font-size: 14px;
    border: solid 2px black;
    align-self: end;
    padding: 12px;
    border-radius: 20px;
    background-color: rgb(226, 243, 105);
    cursor: pointer;
    position: relative;
    right: 400px;
    margin-top: 15px;

}

@media (max-width: 950px) {
    .answerButton {
        position: static;
        align-self: center;
    }
  }

  @media (max-width: 580px) {
    .answerButton {
        font-size:12px;
        padding:5px;
    }
    .addAnswerTitle {
        font-size:16px;
        text-align: center;
        margin-left:0px;
    }

    .answersTitle {
        font-size:16px;
    }

  }