.answerWrapper {
    border-bottom: solid 1px rgb(174, 170, 170);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 30px;
}

.textWrapper {
    align-self: center;
}

.buttonsWrapper {
    display: flex;
    gap: 15px;
}

.deleteButton {
    cursor: pointer;
    padding: 0px;
    align-self: end;
    padding: 3px;
}

.trashImg {
    object-fit: cover;
    width: 100%;
}

.text {
    margin-top: 10px;
    font-size: 20px;
}

.answerNumber {
    font-size: 20px;
}

.likeButton {
    width: 34px;
    cursor: pointer;
    padding: 0px;
    align-self: end;
    padding: 3px;
}

.likeImg {
    object-fit: cover;
    width: 100%;
}

.likesNumber {
    align-self: end;
    font-size: 18px;
}

@media (max-width: 580px) {
    .text,
    .answerNumber,
    .likesNumber {
        font-size: 16px;
    }

    .likeButton,
    .deleteButton {
        width: 25px;
    }
}