.cardWrapper {
    position: relative;
}

.questionWrapper {
    background-color: rgb(251, 243, 232);
    min-width: 400px;
    min-height: 180px;
    padding: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: 0.3s;
    border: 2px, solid, black;
}

.link {
    text-decoration: none;
    color: rgb(14, 15, 15);
}

.questionWrapper:hover {
    background-color: rgb(244, 228, 206);
}

.title {
    margin-bottom: 10px;
    margin-top: 0px;
}

.text {
    font-size: 19px;
}

.deleteButton {
    cursor: pointer;
    padding: 0px;
    align-self: end;
    padding: 3px;
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.trashImg {
    object-fit: cover;
    width: 100%;
}

.message {
    color: rgb(217, 41, 41);

}

@media (max-width: 580px) {
    .questionWrapper {
        padding: 15px;
        gap: 10px;
        min-height: 130px;
        min-width:250px;
    }

    .cardWrapper {
        display: flex;
        flex-direction: column;
    }

    .deleteButton {
        position: static;
        align-self: flex-start;
        width:25px;
    }

    .title {
        font-size: 20px
    }

    .text {
        font-size:14px;
    }
}