.questionWrapper{
    background-color: rgb(251, 243, 232);
    min-width: 400px;
    min-height: 180px;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    gap: 20px;
    transition: 0.3s;
    border: 2px, solid, black;
}

.questionWrapper:hover{
    background-color: rgb(244, 228, 206);
}

.title {
    margin:0px;
}

.link{
    text-decoration: none;
    color: rgb(14, 15, 15);
}

.text{
    font-size: 17px;
}


@media (max-width: 720px) {
    .card {
        width: 300px;
        min-height: 300px; 
    }

    .destination {
        font-size: 20px;
    }
    .image {
        height: 200px;
    }

    .date, .duration, .price {
        font-size: 15px;
    }


}